- breadcrumb :payments
%table.table.table-condensed.display.responsive.no-wrap#payments-table
  %thead
    %tr
      %th= t('payment.columns.student_id')
      %th= t('payment.columns.date_of_payment')
      %th= t('payment.columns.month')
  %tbody
    = render payments
